<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qianmuyun">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 定位权限   All -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA2" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".R2_1_11"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".R2_1_10"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".R2_1_3A"></activity>
        <activity
            android:name=".R2_1_4"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".R2_1_3"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".R2_1_2A"></activity>
        <activity android:name=".R2_1_1A"></activity>
        <activity
            android:name=".R2_1_5Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".R2_1_1"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".R2_1_8Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".R2_1_9_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".R2_1_6"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".ListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".videoluzhiactivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>